# --- DATELE (Ceea ce ai cerut) ---
data/
data/raw/
data/processed/
data/generated/

# --- PYTHON CACHE (Obligatoriu de ignorat) ---
# Acestea sunt fisiere compilate care apar automat si fac mizerie in repo
__pycache__/
*.pyc

# --- MEDIUL VIRTUAL (Obligatoriu de ignorat) ---
# Folderul cu librarii este imens si nu se urca pe net
venv/
env/
.venv/

# --- ALTELE ---
.DS_Store